#calculator{
    background-color: #273a63;
    width: 450px;
    height: 350px;
    color:#fff;
    padding:55px;
    padding-top:30px;
    border-style: none;
    border-radius: 25px;
    margin:auto;
    margin-top:50px;
}
